<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         version="2.5"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

  <display-name>Archetype Created Web Application</display-name>

  <welcome-file-list>
    <welcome-file>/view/start-page.jsp</welcome-file>
  </welcome-file-list>

  <servlet>
    <servlet-name>RequestHandler</servlet-name>
    <servlet-class>com.pond.project.service.controller.MainServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>RequestHandler</servlet-name>
    <url-pattern>/main</url-pattern>
  </servlet-mapping>

</web-app>
